<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/stylesignup.css">
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Willkommen zur Webseite!</h1>
<p>Diese Webseite ist eine Sprachkurswebseite. <br>
    Zu berücksichtigen ist, dass es sich um ein Prototyp handelt und nicht um eine fertige Version dieser Webseite.</p>
{% if user.is_authenticated %}
<hr>

{% else %}

{% endif %}
{% endblock %}
</div>
</body>
</html>

