<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
<h1>Course:</h1>
<hr>

<h5>{{ course.name }}</h5><br>
<p>{{ course.teacher }}</p>
<p>Email adress of the teacher:
    {{ course.email}} </p>
<p>Language:
    {{ course.language }} </p>
<p>Language lvl:
    {{ course.languagelvl }} </p>
<p>Course type:
    {{ course.coursetype }} </p>
<p>Description:
    {{ course.info }} </p>  

{% else %}
<h1>Sorry! You must be logged in to access this page :(.</h1>
<a class="nav-link" href="{% url 'login' %}">Login</a>
<a class="nav-link" href="{% url 'register_user' %}">SignUp</a>      
{% endif %}
   
{% endblock %}
</div> 
</body>
</html>
